.mainContainer{
  max-width: 1170px;
  width: 100%;
  margin:  0 auto;
}

.counter{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input{
  margin-top: 30px;
  width: 70px;
  height: 70px;
  border-radius: 100%;
  text-align: center;
}

.counterbtn{
  margin-top: 15px;
}

.addition{
  margin-right: 10px;
  width: 30px;
  padding: 5px;
  background-color: #f00;
  color: white;
  border: none;
}

.subtraction{
  width: 30px;
  padding: 5px;
  background-color: #0f0;
  color: white;
  border: none;
}